extends layout

<%= favicon_tag '/public/images/favicon.ico' %>

style.
  .my_panel > .panel-body {
    padding: 0px;
  }
  .my_panel > .panel-body > img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  .my_panel > .panel-footer {
    text-align: center;
  }

block main
  .container
    .row
    
      .col-md-4.col-sm-4.col-xs-12
      block content
        != page.html

      
        