include mixins/menu

doctype html
html
  head
    title Duck-duck shop
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset="utf-8")
    // Bootstrap core CSS
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css', rel='stylesheet', media='screen')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js')
    style.
      body { padding-top: 70px; }
    script(src="https://dynatracking.services.mobilon.ru/script/unogiodaui")
  body
    include include/navbar
    
    block main



    hr
    br
    br
    br
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2029674-20', 'auto');
      ga('send', 'pageview');
